<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="selenium_cucumber_framework">
        <classes>
            <class name="testRunner.TestRunnerOne">
                <parameter name="featureFilePath" value="src/test/resources/Features"/>
            </class>
        </classes>
    </test>
</suite>
